<ion-header [translucent]="true" class="teste">
  <ion-toolbar>
    <ion-title> FORM SUS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title id="titulo">Formulário para notificação de síndrome gripal</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      lorem ipsum...lorem ipsum...lorem ipsum...lorem ipsum...lorem
      ipsum...lorem ipsum...
    </ion-card-content>
  </ion-card>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title> DADOS PESSOAIS </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="list" name="contato" ng-submit="onSubmit()" novalidate>
    <ion-item class="ion-disabled">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label class="item item-input item-stacked-label" ng-class="{ 'input-error' : (contato.nome.$error.required || contato.nome.$error.minlength) && !contato.nome.$pristine }">
        <ion-input [(ngModel)]="nome" type="text" placeholder="Nome" minlength="2" required></ion-input>
        <ion-text color="danger">
          <span class="error" ng-show="contato.nome.$error.required && !contato.nome.$pristine">Nome é obrigatório</span>
              <br>
              <span class="error" ng-show="contato.nome.$error.minlength && !contato.nome.$pristine">No mínimo 2 caracteres</span>
        </ion-text>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-input [(ngModel)]="cpf" type="text" placeholder="CPF com pontuação" minlength="14" required></ion-input>
        <ion-text color="danger">
          <span class="error" color="danger" ng-show="contato.nome.$error.required && !contato.nome.$pristine">CPF é obrigatório</span>
              <br>
              <span class="error" ng-show="contato.nome.$error.minlength && !contato.nome.$pristine">COM POTUAÇÃO</span>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="today-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-datetime [(ngModel)]="datanasc" type="text" displayFormat="DD/MM/YYYY" placeholder="DD/MM/YYYY" required></ion-datetime>
        <ion-text color="danger">
          <span class="error" color="danger" ng-show="contato.nome.$error.required && !contato.nome.$pristine">Data é obrigatório</span>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-input [(ngModel)]="nomemae" type="text" placeholder="Nome da mãe" minlength="2" required></ion-input>
        <ion-text color="danger">
          <span class="error" color="danger" ng-show="contato.nome.$error.required && !contato.nome.$pristine">Nome é obrigatório</span>
              <br>
              <span class="error" ng-show="contato.nome.$error.minlength && !contato.nome.$pristine">No mínimo 2 caracteres</span>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-input [(ngModel)]="tele" placeholder="Telefone para contato" type="tel" required telefone></ion-input>
        <ion-text color="danger">
          <span class="error" ng-show="contato.tel.$error.required && !contato.tel.$pristine">Telefone é obrigatório</span>
          <br>
        <span class="error" ng-show="contato.tel.$error.telefone && !contato.tel.$pristine">Telefone inválido</span>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title> ENDEREÇO </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-input [(ngModel)]="rua" type="text" placeholder="Rua"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-input [(ngModel)]="bairro" type="text" placeholder="Bairro"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="grid-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-input [(ngModel)]="num" type="text" placeholder="Número"></ion-input>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title> INFORMAÇÕES CLINICAS </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <!--caixa de seleção-->
    <ion-list>
      <ion-list-header>SINTOMAS</ion-list-header>
      <ion-item>
        <ion-label>Dor de cabeça</ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Dor de garganta</ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Dor no corpo</ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Coriza</ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <!--caixa de seleção-->
    <ion-list>
      <ion-list-header>COMORBIDADES</ion-list-header>
      <ion-item>
        <ion-label>Doenças respiratórias</ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Doenças cardíacas</ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Diabetes</ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Doencas renais</ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card>

  <div class="ion-text-center">
    <ion-button type="button" (click)="addNot()" ng-disabled="myForm.$invalid">ENVIAR</ion-button>
  </div>


</ion-content>




<!--
<style type="text/javascript">

  import {
    Component
  }

  from '@angular/core';

  @Component( {
      selector: 'app-page-home',
      templateUrl: 'home.page.html',
      styleUrls: ['home.page.scss']
    }

  ) export class HomePage {
    public form=[ {
      val: 'Pepperoni', isChecked: true
    }

    ,
      {
      val: 'Sausage', isChecked: false
    }

    ,
      {
      val: 'Mushroom', isChecked: false
    }

    ];
  }

</style>
--->

<script>
  angular.module('app').controller('ValidacaoCtrl', function ($scope) {
    $scope.model = {
        nome: null,
        email: null,
        tel: null,
        altura: null,
        dtNascimento: null
    };

    $scope.onSubmit = function () {
        alert('Teste')
    };
});
</script>

